<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>I Was There</title>
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/text.css" />
<link rel="stylesheet" href="css/960.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>
<h1>
  <a href="/"><img src="/img/logo.png"></a>
</h1>
<div class="container_12">
  <div class="grid_1">&nbsp;</div>
  <div class="grid_4">
    <img width="300" height="298" src="/img/t-shirt.jpg">
  </div>
  <div class="grid_6">
    <p>Tour t-shirts are awesome. Enter your Songkick username and let us create a personalised tour t-shirt from your gigography:</p>
    <form method="post" action="/create">
      <table>
	<tr>
	  <td class="labels"><label for="songkick_username">Songkick Username:</label></td>
	  <td><input type="text" name="songkick_username" id="songkick_username" value="<%= params['songkick_username']%>"/></td>
	</tr>
	<tr>
	  <td class="labels"><label for="tour_name">Tour Name:</label></td>
	  <td><input type="text" name="tour_name" id="tour_name" value="<%= params['tour_name']%>"/></td>
	</tr>
	<tr>
	  <td class="labels"><label for="year_filter">Tour Year:</label></td>
	  <td><input type="text" name="year_filter" id="year_filter" value="<%= params['year_filter']%>"/></td>
	</tr>
	<tr>
	  <td class="labels"></td>
	  <td><label for="sex_m">Man</label>
	    <input type="radio" name="sex" id="sex_m" value="m"/> 
	    <label for="sex_f">Woman</label>
	    <input type="radio" name="sex" id="sex_f" value="f"/> 
	  </td>
	</tr>
	<tr>
	  <td class="labels"></td>
	  <td><input type="submit" value="Make it!"></td>
	</tr>
      </table>
    </form>
    <p>Don't know what this is about? You'll need to create an account
    on Songkick first and tell them who you've seen. When you've
    created your gigography we'll make a tour t-shirt just for you,
    listing the shows you went to. Songkick's also great if you never
    want to miss a gig again.</p>
  </div>
  <div class="grid_1"></div>
  <div class="clear"></div>
  <div class="grid_12" id="footer">
    <p>Powered by:<br>
    <a href="http://www.songkick.com/"><img src="/images/songkick.png" alt="Songkick"/></a><br>
    Image by <a href="http://www.flickr.com/photos/9229859@N02/2146354237/">bucklava on Flickr</a>. (cc) Some rights reserved.</p>
  </div>
</div>
</body>
</html>
